<div class="todos">
  <h1 class="header">
    todos
  </h1>

  <input type="text" (keyup.enter)="todoEntered($event)" class="todoInput" placeholder="What needs to be done?">

  <ul class="todosList">
    <div *ngFor="let todo of getTodos()" class="todoItemWrapper">
        <div class="todoItem" 
        (click)="toggleTodo(todo)" 
        [ngClass]="{'strike': todo.isCompleted}">
        {{todo.description}}
    </div>
    <div class="deleteTodo" (click)="deleteTodo(todo)">X</div>
    </div>
    
  </ul>

  <footer *ngIf=getTodos().length></footer>
  
</div>