<div class="todos">
  <h1 class="header">
    todos
  </h1>

  <input type="text" (keyup.enter)="todoEntered($event)" class="todoInput" placeholder="What needs to be done?">

  <ul class="todosList" *ngIf="todoListState$ | async as todoListState">
    <div *ngFor="let todo of todoListState" class="todoItemWrapper">
        <div class="todoItem" 
        (click)="toggleTodo(todo)" 
        [ngClass]="{'strike': todo.isCompleted}">
        {{todo.description}}
    </div>
    <div class="deleteTodo">X</div>
    </div>
    
  </ul>

  <footer *ngIf="(todoListState$ | async)?.length">
    <div class="clearCompleted">Clear completed</div>
  </footer>
  
</div>
